.no-categories {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  height: 50vh;
  width: 80%;

  span {
    display: inline-block;
    text-align: center;

    a, a:visited {
      color: var(--purple);
      font-size: 1.25rem;
      font-weight: bolder;
    }
  }
}
