.ListItems {
  margin: 0;
  padding: 0;
  width: calc(100% - 16px);

  .items-total {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 150%;
    padding: 16px;
  }

  .category-container {
    margin-bottom: 1rem;
  }

  .category-container > ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    padding: 8px;
    visibility: visible;
    width: calc(100% - 16px);

    &.hidden {
      height: 0;
      visibility: hidden;
    }
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  button {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    width: 100%;

    span {
      display: block;

      i {
        vertical-align: super;
        font-size: 1rem;
      }
    }
  }

  p {
    font-size: 1.25rem;
    text-align: center;
  }
}
