@import "src/infrastructure/ui/styles/variables";

.ListItemsRow {
  align-items: center;
  background-color: lighten($purple, 50%);
  border-radius: 24px;
  display: grid;
  font-size: 1.25rem;
  grid-template-columns: 48px auto 48px 48px;
  grid-template-rows: 1fr;
  gap: 8px;
  padding: 8px 16px;
  width: calc(100% - 32px);

  span {
    display: block;

    button {
      background: transparent;
      border: none;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }
  }

  .quantity, .item {
    align-items: center;
    display: flex;
    justify-content: center;
    input, button {
      background-color: transparent;
      border: none;
      display: block;
      font-size: 1.25rem;
      text-align: left;
      width: 100%;
    }

    input:focus {
      border: none;
      border-bottom: solid var(--black) 2px;
    }
  }

  .is-required, .is-mandatory {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
