body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

hr {
  background-color: var(--purple);
  border-color: var(--purple);
  border-radius: 24px;
  height: 0.15rem;
  width: 80%;
}

.hidden {
  display: none;
  height: 0;
  visibility: hidden;
  width: 0;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}


.padded-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  height: 50vh;
  margin: 0 auto;
  width: 80%;

  span {
    display: inline-block;
    text-align: center;

    a, a:visited {
      color: transparent;
    }
  }
}

button {
  background-color: var(--purple);
  border-color: transparent;
  border-radius: 24px;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
